.myPage {
  display: flex;
  justify-content: space-around;
}
.myPageLeft {
  background-color: white;
  height: 100vh;
  width: 50%;
  min-width: 750px;
}
.myPageRight {
  background-color: white;
  height: 100vh;
  width: 50%;
  min-width: 900px;
}
