.FlightInsert {
  background-color: #f4bfbf;
}
label {
  font-size: 1.5rem;
  margin: 10px;
}
#serchFlightForm {
  padding: 1.5rem;
}
.formItems {
  display: flex;
  justify-content: space-around;
}
.formItem {
  display: inline;
  margin: 10px;
}
#input-date,
.checkedserchFlight {
  text-align: center;
  width: 12rem;
  height: 2rem;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 2px solid;
}
#btnSubmit_flight {
  margin-bottom: 12px;
  margin-top: 30px;
  height: 40px;
  width: 280px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 2px;
}
