.MyListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid gray;

  &:nth-children(even) {
    background: #f8f9fa;
  }
  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    svg {
      // 아이콘
      font-size: 1.5rem;
    }
    .text {
      font-size: 20px;
      font-weight: 600;
      margin: auto;
      width: 140px;
      text-align: center;
    }

    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }

  /*  & + & {
      border-top: 1px solid #dee2e6;
    } */
}
