.FlightTemplate {
  width: 800px;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 8px;
  overflow: hidden;
}
.title {
  background-color: palevioletred;
  color: white;
  height: 4rem;
  font-size: 1.9rem;
  font-weight: 800;
  display: flex;
  align-items: center; /*세로줄 가운데정렬*/
  justify-content: center; /*가로줄 가운데정렬*/
}
.content {
  background-color: papayawhip;
  height: 700px;
}
